version: "3.8"
services:
  dummy:
    build: ./services/dummy
    container_name: dummy
    ports:
      - "50051:50051"
    networks:
      - backend
    environment:
      - PYTHONUNBUFFERED=1

  user_service:
    container_name: user_service
    build: ./services/user_service
    ports:
      - "50061:50061"
    environment:
      - FIREBASE_WEB_API_KEY=${FIREBASE_WEB_API_KEY}
      - FIREBASE_CREDENTIALS=/run/secrets/firebase.json
      - PYTHONUNBUFFERED=1 # force to log to stdOut
    volumes:
      - ./firebase.json:/run/secrets/firebase.json:ro
    restart: unless-stopped
    networks:
      - backend
    dns:
      - 8.8.8.8
      - 8.8.4.4
    security_opt: 
      - label:disable

  firestore:
    build: ./services/firestore
    container_name: firestore
    ports:
      - "9000:9000"
    networks:
      - backend
    volumes:
      - ./firebase.json:/usr/src/app/firebase.json
    security_opt: 
      - label:disable

  frontend:
    build: ./services/frontend
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - backend

  vertexai:
    build: ./services/vertexai
    container_name: vertexai
    ports:
      - "50052:50052"
    networks:
      - backend
    environment:
      - PYTHONUNBUFFERED=1

  keras:
    build: ./services/keras
    container_name: keras
    ports:
      - "50053:50053"
    networks:
      - backend
    environment:
      - PYTHONUNBUFFERED=1

  openresty:
    build: ./openresty
    container_name: nginx
    ports:
      - 80:80
    depends_on:
      - dummy
    volumes:
    - ./openresty/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
    networks:
      - backend
    security_opt: 
      - label:disable

  envoy:
    image: envoyproxy/envoy:v1.31-latest
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml
      - ./proto/descriptors.pb:/services/descriptors.pb
    ports:
      - "8080:8080"
    networks:
      - backend
    security_opt: 
      - label:disable
    depends_on:
      - user_service
      - firestore
      - vertexai
      - dummy

networks:
  backend:
    driver: bridge
