version: "3.8"
services:
  dummy:
    build: ./services/dummy
    container_name: dummy
    ports:
      - "50051:50051"
    networks:
      - backend

  firebaseprototype:
    build: ./services/firebaseprototype
    container_name: firebaseprototype
    ports:
      - "9000:9000"
    networks:
      - backend

  frontend:
    build: ./services/frontend
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - backend

  vertexai:
    build: ./services/vertexai
    container_name: vertexai
    ports:
      - "50052:50052"
    networks:
      - backend

  openresty:
    build: ./openresty
    container_name: nginx
    ports:
      - 80:80
    depends_on:
      - dummy
    volumes:
    - ./openresty/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
    networks:
      - backend
    security_opt: 
      - label:disable

  envoy:
    image: envoyproxy/envoy:v1.31-latest
    volumes:
      - ./envoy/envoy.yaml:/etc/envoy/envoy.yaml
      - ./services/dummy/dummy.pb:/services/dummy.pb
      - ./proto/firebase.pb:/services/firebaseprototype.pb
      - ./proto/both.pb:/services/both.pb # unused
    ports:
      - "8080:8080"
    networks:
      - backend
    security_opt: 
      - label:disable

networks:
  backend:
    driver: bridge
